---
import clsx from "clsx";
import {Image} from "astro:assets";
import avatarImage from "../images/avatar.jpeg";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<HTMLAnchorElement> {
  large?: boolean;
  className?: string;
}

const { className, large = false, ...props } = Astro.props
---
<a
  href="/"
  aria-label="Home"
  className={clsx(className, 'pointer-events-auto')}
  {...props}
>
  <Image
    src={avatarImage}
    alt=""
    sizes={large ? '4rem' : '2.25rem'}
    className={clsx(
      'rounded-full bg-zinc-100 object-cover dark:bg-zinc-800',
      large ? 'h-16 w-16' : 'h-9 w-9'
    )}
    priority
  />
</a>