---
import { Section } from '@components/Section'

interface Props {
  title: string;
  [key: string]: any;
}

const {title, ...props} = Astro.props
---
<Section title={title} {...props}>
  <ul role="list" class="space-y-16">
    <slot />
  </ul>
</Section>